
/* zil ile ilgili ayarlamalar yapılıyor*/
.dropdown {
    display:inline-block;
    /* zilin soldan ne kadar uzakta olacağını belirtiyoruz*/
    margin-left:300px;
    /* zilin kenardan uzaklığını belirtmek için */
    padding:1px;
}

/* dropdown menüyü görselleştirmek için kullanılıyor*/
.task {
    min-width:5px;
}

/* bildirim içeriklerini görselleştirmek için kullanılıyor*/
.task-wrapper {
    /* içeriklerin menü boyutunu aşması durumuyla ilgilenir*/
    overflow:auto;
   /* içeriklerin yüksekliğinin max değeri ayarlanıyor */
    max-height:2px;
}

.menu-title {
    color:#000000;
    font-size:1.5rem;
    display:inline-block;
}

.glyphicon-circle-arrow-right {
    margin-left:10px;
}

.task-heading, .task-footer  {
    padding:2px  10px;
}

.dropdown-menu {
    max-height: 200px; /* Dropdown maksimum yüksekliğini belirleyin, isteğe bağlı */
    overflow-y: auto; /* Düşüş menüsü içinde kaydırma çubuğunu etkinleştirin, isteğe bağlı */
}

.dropdown-menu.divider {
    margin:5px 0;
}
/* içeriğin rengini değiştiriyor*/
.item-title {

    font-size:1.3 rem;
    color: #000000;

}
/* başlığın rengini değiştiriyor*/
.dropdown-item {

    color: #000000;

}
/* bildirim içeriklerini düzenlemek için kullanılır*/
.task a.content {
    text-decoration:none;
    background:#fdf7f7;
    padding:1px;
}
/* bildirimlerin genel görünümünü ayarlar*/
.task-item {
    /* boşluk bırakıyor çerçeve içinde */
    /*satırların yüksekliğini  */
    padding:1px;
    /*tablonun genişliğini */
    margin:10px;
    background:#fdf7f7;
    /* içeriğin kenarlarını yuvarlar*/
    border-radius:1000px;
}



