
.dropdown-menu {
    max-height: 200px; /* Dropdown maksimum yüksekliğini belirleyin, isteğe bağlı */
    overflow-y: auto; /* Düşüş menüsü içinde kaydırma çubuğunu etkinleştirin, isteğe bağlı */
}
.task-heading {
    height: 30px;
    color: black;
}
.dropdown1-item {
    color: #000000;
    width: 100%;
}
/* içeriğin rengini değiştiriyor*/
.list {
    max-height: 20px;
    margin-top: 0;
    font-size: medium;
    color: #000000;
    list-style: none;
}
.menu-title{
    padding: 0;
    color:black;
}
.item-info{
    margin-top: 0px;
}
.description{
    font-size: 12px;
}
.dropdown-item2{
    background: white;
}
.dropdown-item2:hover{
 background:#fdf7f7;
}
.dropdown-toggle::after{
    color: #fdf7f7;
    right: 11px;
}